opencv-python
asyncio
watchdog
streamlit
chardet
graphviz 
streamlit-aggrid # MIT license
streamlit-agraph
streamlit-mermaid
streamlit_extras


# for sql db
alembic
sqlmodel

# for api
fastapi
python-multipart

# for model validate and settings
pydantic
pydantic-settings

# for testing
pytest 
httpx

# https://github.com/okld/streamlit-elements
