streamlit 
ollama
openai 
llama-index
llama-index-embeddings-huggingface
llama-index-llms-ollama
llama-index-embeddings-ollama

faiss-cpu 
chromadb 
llama-index-vector-stores-chroma
llama-index-vector-stores-faiss

docx2txt
tiktoken 
pypdf
python-docx
pandas 
openpyxl


